.itemDetailsBox {
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    margin: 75px 0px;
  }
  
  .itemDetailsBox img {
    width: 500px;
    margin: 0px 100px;
  }

  .itemDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    border: 1px solid #000924;
    box-shadow: 5px 5px 5px 5px #000924;
    border-radius: 5px;
  }

  .stockAvailable {
    color: green;
    font-size: 15px;
  }

  .insufficientStock {
    color: red;
  }