.itemContainer {
    width: 400px;
    padding: 50px;
  }

  .itemInCategory {
    text-decoration: none;
  }

  .item {
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    color: #000924;
  }

  .item img {
    width: 200px;
  }
  