.App-navbar {
    display: flex;
    align-items: center;
    background-color: #000924;
    min-height: 12vh;
    justify-content: space-evenly;
    font-size: calc(10px + 2vmin);
    padding-left: 300px;
    padding-right: 300px;
}
  
.navBarLinks {
    text-decoration: none;
    color: white;
}

.navBarLinks:hover {
  text-shadow: 1px 1px 15px white;
}