body {
  width: auto;
}

.App {
  text-align: center;
  width: 100%;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-navbar {
  display: flex;
  list-style-type: none;
  align-items: center;
  background-color: #282c34;
  min-height: 12vh;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 300px;
  padding-right: 300px;
}

.navBarLinks {
  text-decoration: none;
  color: white;
}

.cartWidget img {
  width: 80px;
}

.itemListContainer {
  display: flex;
  padding: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.itemContainer {
  display: flex;
  width: 400px;
  padding: 50px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px #282c34 solid;
}

.itemContainer img {
  width: 250px;
}

.itemDetails {
  color: #282c34;
  font-size: 25px;
  text-decoration: none;
  padding: 5px; 
}


/* li {
  margin: 10px;
} */

button {

  padding: 10px;
  color: #282c34;
  background-color: white;
  border-radius: 5px;
  font-weight: 700;
  margin: 10px;
}

.counter {
  display: flex;
  border-radius: 5px;
  padding: 50px;
}

.counter button {
  border: none;
  font-size: 30px;
  padding: 5px 25px;
  background-color: #282c34;
  color: white;
}

.counterValue {
  align-items: center;
  font-size: 20px;
  margin: 5px 20px;
}

.addToCartButton {
  margin: 10px;
}

.Cart {
  height: 50vmin;
  pointer-events: none;
}

.Branding {
  display: flex;
  align-items: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 12vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 300px;
  padding-right: 300px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
