body {
  width: auto;
}

.App {
  text-align: center;
  width: 100%;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-logo-loading {
  height: 12vmin;
  pointer-events: none;
  margin-top: 300px;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

  .App-logo-loading {
    animation: App-logo-spin infinite 5s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
